---
---

@font-face {
  font-family: "bbva-icons";
  font-style: normal;
  font-weight: 400;
  src: url("{{ '/assets/fonts/bbva-icons.woff' | relative_url }}") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-style: normal;
  font-weight: 400;
  src: url("{{ '/assets/fonts/BentonSansBBVA-Book.woff' | relative_url }}") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-style: normal;
  font-weight: 500;
  src: url("{{ '/assets/fonts/BentonSansBBVA-Medium.woff' | relative_url }}") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-style: italic;
  font-weight: normal;
  src: url("{{ '/assets/fonts/BentonSansBBVA-BookItalic.woff' | relative_url }}") format("woff");
}

@font-face {
  font-family: "BentonSans";
  font-style: italic;
  font-weight: 500;
  src: url("{{ '/assets/fonts/BentonSansBBVA-MediumItalic.woff' | relative_url }}") format("woff");
}

body {
  font-size: 16px;
  line-height: normal;
  font-family: "BentonSans";
  font-weight: 400;
  color: #004481;
}

a, a:link, a:visited, a:hover, a:active {
  color: #004481;
  text-decoration: none;
  font-weight: 600;

}

header {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px 0px 0px;
  padding-bottom: 50px;
}

header img {
  max-height: 50px;
}

.wrapper {
  max-width: calc(990px - (30px * 2)) !important;
}

.bg-navy {
    background-color: #072146;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  padding: 25px 0px;
}

h2 {
  font-size: 1.467em;
  line-height: 1.27;
  color: #666666;
  padding-top: 25px;
}

p {
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
  color: #666666;
  text-align: justify;
  text-justify: inter-word;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  color: #666666;
  padding-bottom: 4px;
  margin-bottom: 8px;
  line-height: 1.6;
  padding-left: 50px;
  position: relative;
}

li:before {
  font-family: "bbva-icons" !important;
  margin-right: 30px;
  content: "\F13B";
  vertical-align: middle;
  color: #1973b8;
  font-size: 16px;
  left: 2px;
  position: absolute;
}
