<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="bg-navy">
      <div class="wrapper">
        <header>
          <img src="{{ '/assets/images/bbva.png' | relative_url }}" />
          <img src="{{ '/assets/images/js.png' | relative_url }}" />
        </header>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
